<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.songsy.admin.dao.OssFileMapper" >
  <resultMap id="BaseResultMap" type="com.songsy.admin.entity.OssFile" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="file_name" property="fileName" jdbcType="VARCHAR" />
    <result column="file_size" property="fileSize" jdbcType="INTEGER" />
    <result column="file_type" property="fileType" jdbcType="VARCHAR" />
    <result column="file_src" property="fileSrc" jdbcType="VARCHAR" />
    <result column="file_key" property="fileKey" jdbcType="VARCHAR" />
    <result column="upload_status" property="uploadStatus" jdbcType="VARCHAR" />
    <result column="upload_message" property="uploadMessage" jdbcType="VARCHAR" />
    <result column="created_date" property="createdDate" jdbcType="TIMESTAMP" />
    <result column="created_by" property="createdBy" jdbcType="VARCHAR" />
    <result column="last_modified_date" property="lastModifiedDate" jdbcType="TIMESTAMP" />
    <result column="last_modified_by" property="lastModifiedBy" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, file_name, file_size, file_type, file_src, file_key, upload_status, upload_message, 
    created_date, created_by, last_modified_date, last_modified_by
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sys_oss_file
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_oss_file
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.songsy.admin.entity.OssFile" >
    insert into sys_oss_file (file_name, file_size,
      file_type, file_src, file_key, 
      upload_status, upload_message,
      created_by, last_modified_by
      )
    values ( #{fileName,jdbcType=VARCHAR}, #{fileSize,jdbcType=INTEGER},
      #{fileType,jdbcType=VARCHAR}, #{fileSrc,jdbcType=VARCHAR}, #{fileKey,jdbcType=VARCHAR}, 
      #{uploadStatus,jdbcType=VARCHAR}, #{uploadMessage,jdbcType=VARCHAR},
      #{createdBy,jdbcType=VARCHAR}, #{lastModifiedDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.songsy.admin.entity.OssFile" >
    insert into sys_oss_file
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="fileName != null" >
        file_name,
      </if>
      <if test="fileSize != null" >
        file_size,
      </if>
      <if test="fileType != null" >
        file_type,
      </if>
      <if test="fileSrc != null" >
        file_src,
      </if>
      <if test="fileKey != null" >
        file_key,
      </if>
      <if test="uploadStatus != null" >
        upload_status,
      </if>
      <if test="uploadMessage != null" >
        upload_message,
      </if>
      <if test="createdDate != null" >
        created_date,
      </if>
      <if test="createdBy != null" >
        created_by,
      </if>
      <if test="lastModifiedDate != null" >
        last_modified_date,
      </if>
      <if test="lastModifiedBy != null" >
        last_modified_by,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="fileName != null" >
        #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="fileSize != null" >
        #{fileSize,jdbcType=INTEGER},
      </if>
      <if test="fileType != null" >
        #{fileType,jdbcType=VARCHAR},
      </if>
      <if test="fileSrc != null" >
        #{fileSrc,jdbcType=VARCHAR},
      </if>
      <if test="fileKey != null" >
        #{fileKey,jdbcType=VARCHAR},
      </if>
      <if test="uploadStatus != null" >
        #{uploadStatus,jdbcType=VARCHAR},
      </if>
      <if test="uploadMessage != null" >
        #{uploadMessage,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null" >
        #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="lastModifiedDate != null" >
        #{lastModifiedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifiedBy != null" >
        #{lastModifiedBy,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.songsy.admin.entity.OssFile" >
    update sys_oss_file
    <set >
      <if test="fileName != null" >
        file_name = #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="fileSize != null" >
        file_size = #{fileSize,jdbcType=INTEGER},
      </if>
      <if test="fileType != null" >
        file_type = #{fileType,jdbcType=VARCHAR},
      </if>
      <if test="fileSrc != null" >
        file_src = #{fileSrc,jdbcType=VARCHAR},
      </if>
      <if test="fileKey != null" >
        file_key = #{fileKey,jdbcType=VARCHAR},
      </if>
      <if test="uploadStatus != null" >
        upload_status = #{uploadStatus,jdbcType=VARCHAR},
      </if>
      <if test="uploadMessage != null" >
        upload_message = #{uploadMessage,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null" >
        created_date = #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null" >
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="lastModifiedDate != null" >
        last_modified_date = #{lastModifiedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifiedBy != null" >
        last_modified_by = #{lastModifiedBy,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.songsy.admin.entity.OssFile" >
    update sys_oss_file
    set file_name = #{fileName,jdbcType=VARCHAR},
      file_size = #{fileSize,jdbcType=INTEGER},
      file_type = #{fileType,jdbcType=VARCHAR},
      file_src = #{fileSrc,jdbcType=VARCHAR},
      file_key = #{fileKey,jdbcType=VARCHAR},
      upload_status = #{uploadStatus,jdbcType=VARCHAR},
      upload_message = #{uploadMessage,jdbcType=VARCHAR},
      created_date = #{createdDate,jdbcType=TIMESTAMP},
      created_by = #{createdBy,jdbcType=VARCHAR},
      last_modified_date = #{lastModifiedDate,jdbcType=TIMESTAMP},
      last_modified_by = #{lastModifiedBy,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>