<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.songsy.admin.dao.UserMapper">
    <resultMap id="BaseResultMap" type="com.songsy.admin.entity.User">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="nickname" property="nickname" jdbcType="VARCHAR"/>
        <result column="sex" property="sex" jdbcType="INTEGER"/>
        <result column="age" property="age" jdbcType="INTEGER"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="salt" property="salt" jdbcType="VARCHAR"/>
        <result column="head_portrait" property="headPortrait" jdbcType="VARCHAR"/>
        <result column="created_date" property="createdDate" jdbcType="TIMESTAMP"/>
        <result column="last_modified_date" property="lastModifiedDate" jdbcType="TIMESTAMP"/>
        <result column="remarks" property="remarks" jdbcType="VARCHAR"/>
        <result column="enable" property="enable" jdbcType="BIT"/>
    </resultMap>
    <sql id="Base_Column_List">
        id,
        username,
        password,
        nickname,
        sex,
        age,
        phone,
        email,
        address,
        salt,
        head_portrait,
        created_date,
        last_modified_date,
        remarks,
        enable
    </sql>

    <select id="findAll" resultType="user">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        sys_user
    </select>

    <select id="findPageList" parameterType="user" resultType="user">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
          sys_user
        <where>
            <if test="id != null and id != ''">
                id = #{id}
            </if>
            <if test="username != null and username != ''">
                AND username LIKE CONCAT('%','${username}','%')
            </if>
            <if test="password != null">
                AND password = #{password}
            </if>
            <if test="nickname != null and nickname != ''">
                AND nickname LIKE CONCAT('%','${nickname}','%')
            </if>
            <if test="sex != null">
                AND sex = #{sex}
            </if>
            <if test="phone != null">
                AND phone = #{phone}
            </if>
            <if test="email != null">
                AND email = #{email}
            </if>
            <if test="address != null">
                AND address = #{address}
            </if>
            <if test="salt != null">
                AND salt = #{salt}
            </if>
            <if test="createdDate != null">
                AND created_date = #{createdDate}
            </if>
            <if test="lastModifiedDate != null">
                AND last_modified_date = #{lastModifiedDate}
            </if>
            <if test="remarks != null">
                AND remarks = #{remarks}
            </if>
            <if test="enable != null">
                AND enable = #{enable}
            </if>
        </where>

    </select>
    <!--根据username获取用户-->
    <select id="getByUsername" parameterType="String" resultType="user">
        SELECT
          *
        FROM sys_user
         WHERE username =#{username}
    </select>

    <!--根据用户名获取角色code-->
    <select id="getRoles" parameterType="String" resultType="String">
        SELECT
          r.role_code
        FROM
          sys_user u,
          sys_role r,
          sys_user_role ur
        WHERE
            u.id = ur.user_id
        AND r.id = ur.role_id
        AND u.username = #{username}
    </select>


    <!--根据用户名获取权限code-->
    <select id="getPermissions" parameterType="String" resultType="String">
        SELECT
          p.permission_code
        FROM
          sys_role r,
          sys_permission p,
          sys_role_permission rp
        WHERE
          r.id = rp.role_id
        AND p.id = rp.permission_id
        AND r.role_code IN (
          SELECT
            r.role_code
          FROM
            sys_user u,
            sys_role r,
            sys_user_role ur
          WHERE
            u.id = ur.user_id
          AND r.id = ur.role_id
          AND u.username = #{username}
        )
    </select>

    <insert id="insertSelective" parameterType="com.songsy.admin.entity.User">
        insert into sys_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="username != null">
                username,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="nickname != null">
                nickname,
            </if>
            <if test="sex != null">
                sex,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="address != null">
                address,
            </if>
            <if test="salt != null">
                salt,
            </if>
            <if test="headPortrait != null">
                head_portrait,
            </if>
            <if test="createdDate != null">
                created_date,
            </if>
            <if test="lastModifiedDate != null">
                last_modified_date,
            </if>
            <if test="remarks != null">
                remarks,
            </if>
            <if test="enable != null">
                enable,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="nickname != null">
                #{nickname,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                #{sex,jdbcType=INTEGER},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                #{address,jdbcType=VARCHAR},
            </if>
            <if test="salt != null">
                #{salt,jdbcType=VARCHAR},
            </if>
            <if test="headPortrait != null">
                #{headPortrait,jdbcType=VARCHAR},
            </if>
            <if test="createdDate != null">
                #{createdDate,jdbcType=TIMESTAMP},
            </if>
            <if test="lastModifiedDate != null">
                #{lastModifiedDate,jdbcType=TIMESTAMP},
            </if>
            <if test="remarks != null">
                #{remarks,jdbcType=VARCHAR},
            </if>
            <if test="enable != null">
                #{enable,jdbcType=BIT},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.songsy.admin.entity.User">
        update sys_user
        <set>
            <if test="username != null">
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="nickname != null">
                nickname = #{nickname,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                sex = #{sex,jdbcType=INTEGER},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="salt != null">
                salt = #{salt,jdbcType=VARCHAR},
            </if>
            <if test="headPortrait != null">
                head_portrait = #{headPortrait,jdbcType=VARCHAR},
            </if>
            <if test="createdDate != null">
                created_date = #{createdDate,jdbcType=TIMESTAMP},
            </if>
            <if test="lastModifiedDate != null">
                last_modified_date = #{lastModifiedDate,jdbcType=TIMESTAMP},
            </if>
            <if test="remarks != null">
                remarks = #{remarks,jdbcType=VARCHAR},
            </if>
            <if test="enable != null">
                enable = #{enable,jdbcType=BIT},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>











    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from sys_user
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from sys_user
    where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.songsy.admin.entity.User">
        insert into sys_user (id, username, password,
      nickname, sex, phone, 
      email, address, salt, 
      created_date, last_modified_date, remarks, 
      enable)
    values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{nickname,jdbcType=VARCHAR}, #{sex,jdbcType=INTEGER}, #{phone,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{salt,jdbcType=VARCHAR}, 
      #{createdDate,jdbcType=TIMESTAMP}, #{lastModifiedDate,jdbcType=TIMESTAMP}, #{remarks,jdbcType=VARCHAR}, 
      #{enable,jdbcType=BIT})
    </insert>


    <update id="updateByPrimaryKey" parameterType="com.songsy.admin.entity.User">
        update sys_user
    set username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      nickname = #{nickname,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=INTEGER},
      phone = #{phone,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      salt = #{salt,jdbcType=VARCHAR},
      created_date = #{createdDate,jdbcType=TIMESTAMP},
      last_modified_date = #{lastModifiedDate,jdbcType=TIMESTAMP},
      remarks = #{remarks,jdbcType=VARCHAR},
      enable = #{enable,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>